.form-control {
	margin-bottom: 1rem;
}

.form-layout {
	justify-content: space-around;
	align-items: center;
	display: flex;
	flex-direction: column;
}

.form-control input,
.form-control label {
	display: block;
}

.form-control label {
	font-weight: bold;
	margin-bottom: 0.5rem;
	color: black;
}

.form-control input,
.form-control select {
	font: inherit;
	padding: 0.5rem;
	border-radius: 4px;
	border: 1px solid #ccc;
	width: 20rem;
	max-width: 100%;
}

.form-control input:focus {
	outline: none;
	border-color: #6a7003;
	background-color: #e0d4fd;
}

.control-group {
	display: flex;
	column-gap: 1rem;
	flex-direction: column;
	align-items: center;
}

.control-group .form-control {
	min-width: 15rem;
	flex: 1;
}

.form-actions {
	text-align: center;
	margin-top: 1rem;
}

.form-actions button {
	margin-left: 1rem;
}

.invalid input {
	border: 1px solid #b40e0e;
	background-color: #fddddd;
}

.invalid input:focus {
	border-color: #ff8800;
	background-color: #fbe8d2;
}

.error-text {
	color: #b40e0e;
}

.button-disini {
	color: #1864ab;
	background-color: transparent;
	border-width: 0px;
}
