.button {
	background-color: #fff;
	color: #00525f;
	padding: 0.75rem 3rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-radius: 10px;
	font-weight: bold;
	width: 90px;
	height: 40px;
	margin-right: 2rem;
	margin-top: 0.5rem;
}

.button:hover,
.button:active {
	background-color: #7c7b7b;
    color: #fff;
}

/* @keyframes bump {
    0% {
        transform: scale(1);
    }

    10% {
        transform: scale(0.9);
    }

    30% {
        transform: scale(1.1);
    }

    50% {
        transform: scale(1.15);
    }

    100% {
        transform: scale(1);
    }
} */
